.card-front {
  position: relative;
  z-index: 2;
  padding: 14px;
  width: 290px;

  &__title-num {
    font-size: 16px;
    margin-bottom: 6px;
    font-weight: 400;
    color: $text-average;
  }

  &__num {
    padding-left: 5px;
    width: 50px;
    height: 40px;
    margin-right: 9px;
    border: 1px solid #e4e9ee;
  }

  &__title-date {
    font-size: 16px;
    font-weight: 400;
    color: $text-average;
    margin-bottom: 6px;
  }
  // select month
  &__custom-month {
    display: inline-block;
    width: 70px;
    margin-right: 9px;
  }
 // select year
  &__custom-year {
    display: inline-block;
    width: 86px;
  }
 // select customer 
  &__customer {
    border: 1px solid #e4e9ee;
    padding-left: 11px; 
    width: 260px;
    height: 40px;

    &::placeholder {
      font-family: $main-font;
      color: #bec6cf;
    }
  }

  &__wrapper {
    margin-bottom: 17px;
  }
}

@media (min-width: $tablet-width) {
  .card-front {
    width: 350px;

    &__num {
      width: 63px;
      height: 40px;
      padding-left: 11px;
      margin-right: 9px;
    }

    &__customer {
      width: 317px;
      height: 40px;
    }
  }
}  
  

