// screen size
$mobile-width: 320px;
$tablet-width: 720px;
$desktop-width: 1000px;

// color
$bk-light: #f7f8f8;
$bk-dark: #373c43;
$text-light: #8d9cb1;
$text-average: #8494ab;
$text-dark: #8d9cb1;
$text-darkest: #383d43;
$text-active: #808592;

$bg-color-primary: #1f2229; 
$bg-color-secondary: #191c24;
$bg-color-active: #2a2d37; 

// font
$main-font: "Arial", sans-serif;
$accent-font: "OpenSans";